-# ページタイトル
- content_for(:title) { '購入を確定 - メルカリ サンプル' }

-# 購入失敗時のアラート
- if flash[:alert].present?
  = javascript_tag "alert('#{flash[:alert]}')"

-# コンテンツ
.payment
  %h2.payment__head 購入を確定しますか？
  -# 商品情報
  .payment__group
    .payment__group__content
      = @images.present? ? (image_tag @images.first.name.url, alt: '商品画像', class: 'payment__group__content__item-image') : (image_tag 'common/no_image.png', alt: '画像がありません', class: 'payment__group__content__item-image')
      %h3.payment__group__content__item-head= @item.name
      .payment__group__content__item
        %span.payment__group__content__item__price= "¥ #{number_with_delimiter(@item.price)}"
        %span.payment__group__content__item__fee= (@item.shipping_fee == "including_postage") ? "送料込み" : "着払い"
      -# TODO:ポイント機能実装後、ポイントボタン修正
      .payment__group__content__button--none ポイントはありません
      .payment__group__content__item__space
        %span.payment__group__content__item__price 支払い金額
        %span.payment__group__content__item__price= "¥ #{number_with_delimiter(@item.price)}"
      - if @credit_card.present? && @profile.prefecture.present? && @profile.city.present? && @profile.block.present? && @profile.first_name.present? && @profile.last_name.present?
        - if @credit_card.payjp_token.present?
          = link_to '購入する', transaction_buy_index_path(id: @item.id), method: :post, class: 'payment__group__content__item__purchase'
        - else
          = form_tag('/jp/transaction/buy', method: :post, class: 'payjp-form') do
            = hidden_field_tag :id, @item.id
            = hidden_field_tag 'pay_key', PAYJP_TEST_PUBLIC_KEY, class: 'pay_key'
            = hidden_field_tag 'number', @credit_card.authorization_code, class: 'number'
            = hidden_field_tag 'cvc', @credit_card.security_code, class: 'cvc'
            = hidden_field_tag 'exp_month', @credit_card.month, class: 'exp_month'
            = hidden_field_tag 'exp_year', @credit_card.set_year, class: 'exp_year'
            = button_tag '購入する', class: 'payment__group__content__item__purchase'
      - else
        .payment__group__content__caution
          - if @profile.prefecture.blank? || @profile.city.blank? || @profile.block.blank? || @profile.first_name.blank? || @profile.last_name.blank?
            %span 配送先
          - if @credit_card.blank?
            %span 支払い方法
          %span を登録してください
        .payment__group__content__item__space
          - if @profile.prefecture.present? && @profile.city.present? && @profile.block.present? && @profile.first_name.present? && @profile.last_name.present?
            .payment__group__content__item__registration--already 配送先を登録する
          - else
            = link_to '配送先を登録する', mypage_identification_path, class: 'payment__group__content__item__registration'
          - if @credit_card.present?
            .payment__group__content__item__registration--already 支払い方法を登録する
          - else
            = link_to '支払い方法を登録する', mypage_identification_path, class: 'payment__group__content__item__registration' if @credit_card.blank?
      .payment__group__content__app アプリをお持ちでない方は以下よりインストールしてご利用いただけます。
      .payment__group__content__item__store-image
        = image_tag 'common/app-store.svg', alt: 'App Store'
        = image_tag 'common/google-play.svg', alt: 'Google Play'

  -# 配送先情報
  - if @profile.prefecture.present? && @profile.city.present? && @profile.block.present? && @profile.first_name.present? && @profile.last_name.present?
    .payment__group
      .payment__group__content
        %h3.payment__group__content__head 配送先
        .payment__group__content__info= "〒 #{@profile.set_hyphen}"
        .payment__group__content__info= @profile.set_address
        .payment__group__content__info= @profile.set_fullname
        = link_to mypage_identification_path, class: 'payment__group__content__another-link' do
          %span 変更する
          %i.fas.fa-chevron-right

  -# クレジットカード情報
  - if @credit_card.present?
    .payment__group
      .payment__group__content
        %h3.payment__group__content__head 支払い方法
        .payment__group__content__info= @credit_card.hide_numbers
        .payment__group__content__info= "#{@credit_card.month} / #{@credit_card.year}"
        = image_tag "common/#{@credit_card.get_type}.svg", alt: "#{@credit_card.get_type}", class: 'payment__group__content__image' if @credit_card.get_type.present?
        = link_to mypage_card_index_path, class: 'payment__group__content__another-link' do
          %span 変更する
          %i.fas.fa-chevron-right

-# Pay.jpカスタムフォーム操作
-# 外部jsに切り出す場合、他ページでPayjp部分でエラー生じるため、このviewファイル内に記述
- content_for(:payjp) do
  %script{ type: 'text/javascript', src: 'https://js.pay.jp' }
  :javascript
    var payjp_form = $(".payjp-form");
    var payjp_key = payjp_form.find('input[name="pay_key"]').val();
    Payjp.setPublicKey(payjp_key);

    payjp_form.submit(function(e) {
      e.preventDefault();
      payjp_form.find("input[type=submit]").prop("disabled", true);

      var card = {
        number: payjp_form.find('.number').val(),
        cvc: payjp_form.find('.cvc').val(),
        exp_month: payjp_form.find('.exp_month').val(),
        exp_year: payjp_form.find('.exp_year').val()
      };

      Payjp.createToken(card, function (s, response) {
        if (response.error) {
          alert("error")
          payjp_form.find('button').prop('disabled', false);
        } else {
          $('.number').removeAttr('name');
          $('.cvc').removeAttr('name');
          $('.exp_month').removeAttr('name');
          $('.exp_year').removeAttr('name');

          var token = response.id;
          payjp_form.append($('<input type="hidden" name="payjp_token" class="payjp-token" />').val(token));
          payjp_form.get(0).submit();
        }
      });
    });
