%h2 Sign up
- if sns_user.provider.eql?('facebook')
  = form_for(sns_user, url: create_user_facebook_omniauth_registration_path) do |f|
    - if user.errors.any?
      - user.errors.messages[:nickname].each do |message|
        .error= message
    .field
      = f.label :nickname
      %br/
      = f.text_field :nickname, autofocus: true
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, value: "#{sns_user.email}"
    .field
      = f.hidden_field :password, value: sns_user.password
    .field
      = f.hidden_field :password_confirmation, value: sns_user.password_confirmation
    .field
      = f.hidden_field :uid, value: sns_user.uid
    .field
      = f.hidden_field :provider, value: sns_user.provider
    .actions
      = f.submit "Sign up"

- else
  = form_for(sns_user, url: create_user_google_omniauth_registration_path) do |f|
    - if user.errors.any?
      - user.errors.messages[:nickname].each do |message|
        .error= message
    .field
      = f.label :nickname
      %br/
      = f.text_field :nickname, autofocus: true
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, value: "#{sns_user.email}"
    .field
      = f.hidden_field :password, value: sns_user.password
    .field
      = f.hidden_field :password_confirmation, value: sns_user.password_confirmation
    .field
      = f.hidden_field :uid, value: sns_user.uid
    .field
      = f.hidden_field :provider, value: sns_user.provider
    .actions
      = f.submit "Sign up"
