-# TODO:link修正
= link_to item_path(item), class: 'card' do
  .card__photo{ class: "#{'card__photo-sold' if item.status_id != 1}" }
    = item.images.present? ? (image_tag item.images.first.name.url, alt: '商品画像') : (image_tag 'common/no_image.png', alt: '画像がありません')
  .card__body
    %h3.card__body__head= item.name
    .card__body__content
      .card__body__content__price= "¥ #{number_with_delimiter(item.price)}"
      .card__body__content__like
        %i.far.fa-heart
        -# TODO:like数の取得
        %span 2
      .card__body__content__tax (税込)
