!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for?(:title) ? yield(:title) : "メルカリ サンプル"
    = favicon_link_tag('common/favicon.ico')
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    -# ヘッダー
    %header.header
      = render partial: "partial/header"
    -# パンくずリスト
    - if @none_breadcrumbs_flag.blank?
      %nav.bread-container
        = breadcrumbs separator: "#{content_tag(:i, '', :class=>'fas fa-chevron-right')}"
    -# バナースライド
    = yield :slide
    -# メインコンテンツ
    %main.main
      = yield
    -# バナー
    .banner
      = render partial: "partial/banner"
    -# フッター
    %footer.footer
      = render partial: "partial/footer"
    -# 出品ボタン
    = render partial: "partial/sell-btn"
